<section>
  <div class="footer" style="background-image: url(../../../assets/img/m-gif.gif);">
    <div class="container">
      <div class="row info">
        <div class="col-12 col-md-8 col-lg-8 pb-2">
          <ul>
            <li>
              <a href="#"><strong>Address</strong> 15205 North Kierland Blvd, Suite 100 Scottsdale Bahama Scottsdale Kierland</a>
            </li>
            <li>
              <a href="#"><strong>Phone</strong> +19856367418</a>
            </li>
            <li>
              <a href="#"><strong>Email</strong> Ilyasahmed081@gmail.com</a>
            </li>
          </ul>
        </div>
        <div class="col-12 col-md-4 col-lg-4">
          <ul>
            <li class="d-flex justify-content-between align-content-center">
              <a href="https://www.fiverr.com/ilyasahmed6987">Fiverr</a>
              <a href="https://www.upwork.com/">Upwork</a>
            </li>
            <li class="d-flex justify-content-between align-content-center">
              <a href="https://www.youtube.com/">YouTube</a>
              <a href="https://www.instagram.com/">Instagram</a>
            </li>
            <li class="d-flex justify-content-between align-content-center">
              <a href="https://dribbble.com/">Dribble</a>
              <a href="https://www.behance.net/">Behance</a>
            </li>
          </ul>
        </div>
        <hr>
        <p>@ 2021 Copyright: <a href="https://github.com/ilyasahmedshaikh">Ilyas Ahmed</a></p>
      </div>
    </div>
  </div>
</section>
