<section id="services">
  <div class="services">
    <div class="container">
      <div class="row">
        <div class="heading">
          <h1>Our Services</h1>
        </div>
      </div>

      <div class="works">
        <div class="row content">
          <div class="col-md-6 order-sm-1">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-12">
                  <img src="../../../../assets/img/s1.jpg">
                </div>
            </div>
          </div>
          <div class="col-md-6 order-sm-2">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-12">
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting. There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
                </div>
            </div>
          </div>
        </div>
        <div class="row content">
          <div class="col-md-6 order-sm-2">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-12">
                  <img src="../../../../assets/img/s2.jpg">
                </div>
            </div>
          </div>
          <div class="col-md-6 order-sm-1">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-12">
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting. There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
